.guide{
    text-align: center;
    font-size: smaller;
    color: orangered;
}
div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
  margin: 0 auto 10px auto;
  max-width: 800px;}

  .author{
    display:flex;
    justify-content: space-between;
}
h3{
    text-align: center;
    margin-bottom: -15px;
    margin-top: -15px;
}
.link{
    color: orangered;
}
.title-image{
    height: auto;
    width: auto;
}
.images{

   width: 100%;
    
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 31%;
    height:10px;
    text-align: center;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-pinterest {
    background: #ee5555;
    color: white;
  }

  
  
  .comment-image{
    border-radius: 50px;
    height:100px;
    float:left;
    border-bottom:  white;
    margin-top: 40px;

  }
  
  .review{
    padding-left:100px 
 
}
.comment{
    padding-left: 15px;
    color: grey;
}

div.scroll-container {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: 190px;
    width: 90%;
  }
  
  div.scroll-container img {
    padding: 10px;
    height: 150px;
  }
  footer{
    background-color: #0e0d0d;
    display: flex;
    width: 100%;
    min-height: 5%;
    padding: 10px;
    color: aliceblue;

  }
  .footer-image{
    height: 80px;
    padding-left: 5px;
  }
  .footer-text{
    padding-left: 8px;
    font-size: xx-small;
    padding-top: 25px;
  }
.footer-logo{
   width: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
figcaption{
    text-align: center;
}
.quotecontent{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-left: 22px;
    font-style: italic;
    color: grey;
}
.quote {
    color: #3088d5;
    font-size: 3em;
    position: absolute;
    margin-top: -16px;

  }
  
  .quote:first-of-type {
    margin-left: -35px;
  }
  #face{
    background-color: #0e0d0d;
    margin-right: 10px;
      color: white;
    
  }
  #twit{
    background-color: #0e0d0d;
    margin-right: 10px;
      color: white;
  }
  #pint{
    background-color: #0e0d0d;
    margin-right: 10px;
      color: white;
  }
  #inst{
    background-color: #0e0d0d;
    margin-right: 10px;
    color: white;
  }
  #yout{
    background-color: #0e0d0d;
    margin-right: 10px;
    color: white;
  }
  .text{
    text-align: center;

  }
   header{
    display:flex;
       width:auto;
   }
.one{
    margin-left: 5px;
    margin-right: 7%;
}
.two{
    margin-right: 7%;
}
.three{
    margin-right: 7%;
}
.four{
    margin-right: 7%;
}
a:link{
    color:#0e0d0d;
}
a:hover{
    color:#3088d5;
}
a{
    color: black;
    text-decoration: none;
}
