button{
    background-color: #0366d6;
    color: #fff;
    border-radius: 5px;
}
.cat{
    color: #fff;
    text-decoration: none;
    font-size: larger;
  }
.side {
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: white;
    height: 100%;
    overflow: auto;
  }

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.main {
    margin-left: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1px 16px;
  }
  .container {
    display:flex;
    justify-content: right;
    margin-top: -30px;
  }

  .center, .right {
    width: 100%;
    font-size: larger;
    color: #3a75b6;
  }
  .heading {
    text-align: center;
    background-color: #3a75b6;
    color: #fff;
    font-size: 30px;
    padding: 5px 0;
    margin-right: 2px;
    margin-top: -10px;
    font-family: Arial,Helvetica,sans-serif;
    width: 100%;
  }
  .left{
    margin-left: -21px;
    width: 100%;
    font-size: larger;
    color: #3a75b6;
  }
  ul li{
    padding: 7px;
  }
  .mar{
    border-style: solid;
    border-width: 1px;
  }
th, tr, td{
  border-collapse: separate;
  height: 90px;
  font-size: larger;
  font-weight: bold;
  color: #fff;
  }
table{
    height: 90px;
    width: 100%;
}
  
  td a,th a{
  
  text-decoration: none;
  
  color: white;
  
  }
  
  .t1{
    background-color: cadetblue;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    background-color: rgb(211, 211, 211);
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 40px ;
    border-bottom-right-radius: 40px;
}
  
  
  
  .t2{
  
  background-color: chocolate;
  }
  .t2{

    background-color: chocolate;
    
    }
    
    .t3{
    
    background-color: aqua;
    
    }
    
    .t4{
        background-color: blue;
    }
    
    
    
    .t5{
        background-color: green;
    }
    
    
    
    .t6{
        background-color: red;
    }
    
    
    
    .t7{
        background-color: darkorange;
    }
    
   
    
    .t8{
        background-color:lightblue;
    }
    
    
    
    .t9{
     background-color: violet;
    }
.h3{
    background-color: #0366d6;
    color: #f1f1f1;
    margin-left:15%;
    margin-top: 25%;
}
@media (max-width: 870px)  {
  .side{
    display: none;
  }
  .container{
    display: block;
  }
  .center,.right{
    margin-left: -21px;
  }
}
  @media (min-width:870px){
    body{
      margin-left: 40px;
    margin-right: 40px;
    }
  }
